@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, red, blue);
  color: white;
}

.App {
  min-height: 20vh;
  min-width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  color: black;
  padding: 2rem 3rem;
}

.expand {
  width: 20rem;
}
