@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart;
  src: url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

html {
  background-color: #804cd7;
}

body {
  background: linear-gradient(180deg, #804bd8, #11e59d);
  font-family: PressStart;
  color: white;
}
