@font-face {
  font-family: PressStart;
  src: url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #804bd8, #11e59d);
  font-family: PressStart;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  font-size: 2rem;
}

.App {
  min-height: 20vh;
  min-width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  color: black;
  padding: 2rem 3rem;
}

.expand {
  width: 15rem;
}

footer {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
